h1 {
  margin-top: 32px;
  font-family: "Graduate", cursive;
  color: orange;
  text-align: center;
  justify-content: space-between;
}

.scoreboard {
  text-align: center;
  justify-content: space-between;
}

.players {
  margin: 16px auto;
  display: flex;
  width: 400px;
  background-color: #bada55;
  border-radius: 30px;
  height: 300px;
  justify-content: center;
}

p {
  margin: auto 0;
  line-height: 150px;
}

.name {
  margin-top: 16px;
  color: #fff;
  font-family: "Graduate", cursive;
}

.playerA {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  display: block;
  font-size: 36px;
  color: #fff;
  margin-top: 20px;
  background-color: tomato;
}

.playerB {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  display: block;
  font-size: 36px;
  color: #fff;
  margin-top: 20px;
  background-color: lightblue;
}

.playerB {
  margin-left: 24px;
}

.down, .up {
  width: 50px;
  height: 50px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 12px;
}

.down {
  margin-left: 12px;
}