html {
  background-color: rgb(252, 216, 222);
  font-family: "Graduate", cursive;
}

@mixin players {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  display: block;
  font-size: 36px;
  color: #fff;
}

@mixin center {
  text-align: center;
  justify-content: space-between;
}

@mixin score {
  width: 60px;
  height: 50px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 12px;
}

h1 {
  margin-top: 32px;
  color: orange;
  @include center;
}

.scoreboard {
  @include center;
}

.winning_score {
  margin: 16px 0;
  color: #7d7c7c;
  letter-spacing: 2px;
}

.players {
  margin: 16px auto;
  display: flex;
  width: 450px;
  background-color: #bada55;
  border-radius: 30px;
  height: 300px;
  justify-content: center;
}

.score p {
  margin: auto 0;
  line-height: 150px;
}

.name {
  margin-top: 16px;
  color: #fff;
  font-size: 18px;
}

.a_player {
  @include players;
  margin-top: 20px;
  background-color: tomato;
  margin-right: 12px;
}

.b_player {
  @include players;
  margin-top: 20px;
  background-color: lightblue;
  margin-left: 12px;
}

.a_up,
.b_up,
.a_reset,
.b_reset {
  @include score;
}

.a_reset,
.b_reset {
  margin-left: 12px;
}

//Dropdown_menu

@mixin dropdown {
  cursor: pointer;
  border: solid 2px #7d7c7c;
  width: 120px;
  margin: 0 auto;
  height: 24px;
  border-radius: 8px;
  color: #7d7c7c;
  letter-spacing: 2px;
}

.dropdown_menu {
  @include dropdown;
  @include center;

  &.hidden {
    display: none;
  }
  &.dropdown_menu:hover {
    opacity: 0.5;
  }
}

.score_setting {
  &.hidden {
    display: none;
    color: #7d7c7c;
  }
}

//ここを変えていきます

.dropdown_items {
  // @include dropdown;
  @include center;
  //最初は非表示
  opacity: 0;
  //stylingしていく
  padding: 16px 20px;
  height: auto;
  width: 150px;
  margin: 0 auto;
  color: #adadad;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative; //ちがう？？

  & li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  & li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .dropdown_items:hover {
    transition: opacity 0.3s, transform 0.3s;
  }

  //active付けたら表示
  &.active {
    opacity: 1;
    transform: none;
    list-style: none;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      border: 15px solid;
      border-color: transparent transparent #fff transparent;
      z-index: 1;
    }
  }

  //各itemのスタイリング
  .dropdown_item {
    width: auto;
    background: #fff;

    &.dropdown_item:hover {
      // opacity: 0.5;
      background-color: lightyellow;
    }
  }
}
